.elevator {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(50% - 20px);
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.elevator-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
}

.direction-arrows {
  position: absolute;
  top: 10px;
  left: -17%;
  transform: translateX(-50%);
}

.arrow-container {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 5px;
}

.arrow-container.up.pressed,
.arrow-container.down.pressed {
  background-color: yellow;
  animation: blink-yellow 0.5s linear forwards; 
}

@keyframes blink-yellow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
