.user-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.user-container.visible {
  opacity: 1;
}


.user-container.entering {
  animation: enterAnimation 1s forwards;
}

.user-container.leaving {
  animation: leaveAnimation 1s forwards;
}

.user-icon {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
}

@keyframes enterAnimation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes leaveAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
