.user-interface {
  text-align: center;
}

.elevator-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px; 
}

.elevator {
  width: calc(50% - 20px);
  margin-bottom: 20px;
}
.column{
  width: 20rem;
}
